.btnTheme .btnText,
#pageHeader.fixedPosition,
.featColumn:before,
.tryPetAside,
.ftSocialNetworks > li > a:hover {
	background-color: #1f1f1f;
}

.btnTheme:before,
.afDefList .icn,
.afTabsList .nav-link.active,
.clientQuote q:before,
.tickList > li:before {
	color: #6720df;
}

.btnTheme:before,
.btnTheme .btnText,
.afTabsList .nav-link.active {
	border-color: #6720df;
}