
@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.ttf?h7kkm8") format("truetype"), url("fonts/icomoon.woff?h7kkm8") format("woff"), url("fonts/icomoon.svg?h7kkm8#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icomoon-"],
[class*=" icomoon-"] {
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-tick:before {
	content: "\e904";
}

.icomoon-quote:before {
	content: "\e903";
}

.icomoon-lock:before {
	content: "\e900";
}

.icomoon-frame:before {
	content: "\e901";
}

.icomoon-clock:before {
	content: "\e902";
}

img {
	max-width: 100%;
	height: auto;
}

.pading-top{
	padding-top:35px !important;
}

.comment-form input[type="text"],
.search-form input[type="text"],
.post-password-form input[type="text"],
.comment-form
input[type="tel"],
.search-form
input[type="tel"],
.post-password-form
input[type="tel"],
.comment-form
input[type="email"],
.search-form
input[type="email"],
.post-password-form
input[type="email"],
.comment-form
input[type="search"],
.search-form
input[type="search"],
.post-password-form
input[type="search"],
.comment-form
input[type="password"],
.search-form
input[type="password"],
.post-password-form
input[type="password"],
.comment-form
input[type="url"],
.search-form
input[type="url"],
.post-password-form
input[type="url"],
.comment-form
input[type="date"],
.search-form
input[type="date"],
.post-password-form
input[type="date"],
.comment-form
textarea,
.search-form
textarea,
.post-password-form
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #999;
	padding: .5em .7em;
}

.comment-form input[type="text"]:focus,
.search-form input[type="text"]:focus,
.post-password-form input[type="text"]:focus,
.comment-form
  input[type="tel"]:focus,
.search-form
  input[type="tel"]:focus,
.post-password-form
  input[type="tel"]:focus,
.comment-form
  input[type="email"]:focus,
.search-form
  input[type="email"]:focus,
.post-password-form
  input[type="email"]:focus,
.comment-form
  input[type="search"]:focus,
.search-form
  input[type="search"]:focus,
.post-password-form
  input[type="search"]:focus,
.comment-form
  input[type="password"]:focus,
.search-form
  input[type="password"]:focus,
.post-password-form
  input[type="password"]:focus,
.comment-form
  input[type="url"]:focus,
.search-form
  input[type="url"]:focus,
.post-password-form
  input[type="url"]:focus,
.comment-form
  input[type="date"]:focus,
.search-form
  input[type="date"]:focus,
.post-password-form
  input[type="date"]:focus,
.comment-form
  textarea:focus,
.search-form
  textarea:focus,
.post-password-form
  textarea:focus {
	border-color: #333;
}

.comment-form input[type="text"]::-webkit-input-placeholder,
.search-form input[type="text"]::-webkit-input-placeholder,
.post-password-form input[type="text"]::-webkit-input-placeholder,
.comment-form
  input[type="tel"]::-webkit-input-placeholder,
.search-form
  input[type="tel"]::-webkit-input-placeholder,
.post-password-form
  input[type="tel"]::-webkit-input-placeholder,
.comment-form
  input[type="email"]::-webkit-input-placeholder,
.search-form
  input[type="email"]::-webkit-input-placeholder,
.post-password-form
  input[type="email"]::-webkit-input-placeholder,
.comment-form
  input[type="search"]::-webkit-input-placeholder,
.search-form
  input[type="search"]::-webkit-input-placeholder,
.post-password-form
  input[type="search"]::-webkit-input-placeholder,
.comment-form
  input[type="password"]::-webkit-input-placeholder,
.search-form
  input[type="password"]::-webkit-input-placeholder,
.post-password-form
  input[type="password"]::-webkit-input-placeholder,
.comment-form
  input[type="url"]::-webkit-input-placeholder,
.search-form
  input[type="url"]::-webkit-input-placeholder,
.post-password-form
  input[type="url"]::-webkit-input-placeholder,
.comment-form
  input[type="date"]::-webkit-input-placeholder,
.search-form
  input[type="date"]::-webkit-input-placeholder,
.post-password-form
  input[type="date"]::-webkit-input-placeholder,
.comment-form
  textarea::-webkit-input-placeholder,
.search-form
  textarea::-webkit-input-placeholder,
.post-password-form
  textarea::-webkit-input-placeholder {
	color: #ccc;
}

.comment-form input[type="text"]::-moz-placeholder,
.search-form input[type="text"]::-moz-placeholder,
.post-password-form input[type="text"]::-moz-placeholder,
.comment-form
  input[type="tel"]::-moz-placeholder,
.search-form
  input[type="tel"]::-moz-placeholder,
.post-password-form
  input[type="tel"]::-moz-placeholder,
.comment-form
  input[type="email"]::-moz-placeholder,
.search-form
  input[type="email"]::-moz-placeholder,
.post-password-form
  input[type="email"]::-moz-placeholder,
.comment-form
  input[type="search"]::-moz-placeholder,
.search-form
  input[type="search"]::-moz-placeholder,
.post-password-form
  input[type="search"]::-moz-placeholder,
.comment-form
  input[type="password"]::-moz-placeholder,
.search-form
  input[type="password"]::-moz-placeholder,
.post-password-form
  input[type="password"]::-moz-placeholder,
.comment-form
  input[type="url"]::-moz-placeholder,
.search-form
  input[type="url"]::-moz-placeholder,
.post-password-form
  input[type="url"]::-moz-placeholder,
.comment-form
  input[type="date"]::-moz-placeholder,
.search-form
  input[type="date"]::-moz-placeholder,
.post-password-form
  input[type="date"]::-moz-placeholder,
.comment-form
  textarea::-moz-placeholder,
.search-form
  textarea::-moz-placeholder,
.post-password-form
  textarea::-moz-placeholder {
	opacity: 1;
	color: #ccc;
}

.comment-form input[type="text"]:-moz-placeholder,
.search-form input[type="text"]:-moz-placeholder,
.post-password-form input[type="text"]:-moz-placeholder,
.comment-form
  input[type="tel"]:-moz-placeholder,
.search-form
  input[type="tel"]:-moz-placeholder,
.post-password-form
  input[type="tel"]:-moz-placeholder,
.comment-form
  input[type="email"]:-moz-placeholder,
.search-form
  input[type="email"]:-moz-placeholder,
.post-password-form
  input[type="email"]:-moz-placeholder,
.comment-form
  input[type="search"]:-moz-placeholder,
.search-form
  input[type="search"]:-moz-placeholder,
.post-password-form
  input[type="search"]:-moz-placeholder,
.comment-form
  input[type="password"]:-moz-placeholder,
.search-form
  input[type="password"]:-moz-placeholder,
.post-password-form
  input[type="password"]:-moz-placeholder,
.comment-form
  input[type="url"]:-moz-placeholder,
.search-form
  input[type="url"]:-moz-placeholder,
.post-password-form
  input[type="url"]:-moz-placeholder,
.comment-form
  input[type="date"]:-moz-placeholder,
.search-form
  input[type="date"]:-moz-placeholder,
.post-password-form
  input[type="date"]:-moz-placeholder,
.comment-form
  textarea:-moz-placeholder,
.search-form
  textarea:-moz-placeholder,
.post-password-form
  textarea:-moz-placeholder {
	color: #ccc;
}

.comment-form input[type="text"]:-ms-input-placeholder,
.search-form input[type="text"]:-ms-input-placeholder,
.post-password-form input[type="text"]:-ms-input-placeholder,
.comment-form
  input[type="tel"]:-ms-input-placeholder,
.search-form
  input[type="tel"]:-ms-input-placeholder,
.post-password-form
  input[type="tel"]:-ms-input-placeholder,
.comment-form
  input[type="email"]:-ms-input-placeholder,
.search-form
  input[type="email"]:-ms-input-placeholder,
.post-password-form
  input[type="email"]:-ms-input-placeholder,
.comment-form
  input[type="search"]:-ms-input-placeholder,
.search-form
  input[type="search"]:-ms-input-placeholder,
.post-password-form
  input[type="search"]:-ms-input-placeholder,
.comment-form
  input[type="password"]:-ms-input-placeholder,
.search-form
  input[type="password"]:-ms-input-placeholder,
.post-password-form
  input[type="password"]:-ms-input-placeholder,
.comment-form
  input[type="url"]:-ms-input-placeholder,
.search-form
  input[type="url"]:-ms-input-placeholder,
.post-password-form
  input[type="url"]:-ms-input-placeholder,
.comment-form
  input[type="date"]:-ms-input-placeholder,
.search-form
  input[type="date"]:-ms-input-placeholder,
.post-password-form
  input[type="date"]:-ms-input-placeholder,
.comment-form
  textarea:-ms-input-placeholder,
.search-form
  textarea:-ms-input-placeholder,
.post-password-form
  textarea:-ms-input-placeholder {
	color: #ccc;
}

.comment-form input[type="text"].placeholder,
.search-form input[type="text"].placeholder,
.post-password-form input[type="text"].placeholder,
.comment-form
  input[type="tel"].placeholder,
.search-form
  input[type="tel"].placeholder,
.post-password-form
  input[type="tel"].placeholder,
.comment-form
  input[type="email"].placeholder,
.search-form
  input[type="email"].placeholder,
.post-password-form
  input[type="email"].placeholder,
.comment-form
  input[type="search"].placeholder,
.search-form
  input[type="search"].placeholder,
.post-password-form
  input[type="search"].placeholder,
.comment-form
  input[type="password"].placeholder,
.search-form
  input[type="password"].placeholder,
.post-password-form
  input[type="password"].placeholder,
.comment-form
  input[type="url"].placeholder,
.search-form
  input[type="url"].placeholder,
.post-password-form
  input[type="url"].placeholder,
.comment-form
  input[type="date"].placeholder,
.search-form
  input[type="date"].placeholder,
.post-password-form
  input[type="date"].placeholder,
.comment-form
  textarea.placeholder,
.search-form
  textarea.placeholder,
.post-password-form
  textarea.placeholder {
	color: #ccc;
}

.widget {
	margin-bottom: 1.2em;
}

.widget ul {
	padding-left: 2em;
}

.widget select {
	min-width: 150px;
}

.comment-form label {
	display: block;
	padding-bottom: 4px;
}

.comment-form textarea {
	overflow: auto;
	margin: 0;
	height: 120px;
	min-height: 120px;
}

.comment-form textarea,
.comment-form input[type="text"] {
	margin: 0 4px 0 0;
	width: 300px;
}

.comment-form input[type="submit"] {
	display: block;
	float: none;
}

.post-password-form label {
	display: block;
}

.post-password-form input[type="password"] {
	margin: 0 4px 0 0;
	width: 300px;
}

.search-form input {
	float: left;
	height: 2em;
}

.search-form input[type="search"] {
	margin: 0 4px 0 0;
	width: 150px;
}

.post-password-form input {
	float: left;
	height: 2em;
}

.post-password-form input[type="password"] {
	width: 150px;
}

.comment-form input[type="submit"],
.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	background: #333;
	color: #fff;
	height: 2em;
	border: none;
	padding: 0 .5em;
}

.comment-form input[type="submit"]:hover,
.post-password-form input[type="submit"]:hover,
.search-form input[type="submit"]:hover {
	opacity: .8;
}

.commentlist {
	margin: 0 0 1.2em;
}

.commentlist .edit-link {
	margin: 0;
}

.commentlist .avatar-holder {
	float: left;
	margin: 0 1.2em 4px 0;
}

.commentlist-item .commentlist-item {
	padding: 0;
}

.comment,
.commentlist-holder {
	overflow: hidden;
}

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
	padding-top: 1.2em;
}

.widget_calendar #next {
	text-align: right;
}

.gallery-item dt {
	float: none;
	padding: 0;
}

.navigation,
.navigation-comments {
	position: relative;
	vertical-align: middle;
	margin-bottom: 1.2em;
}

.navigation .screen-reader-text,
.navigation-comments .screen-reader-text {
	position: absolute;
	left: -99999px;
}

.navigation .page-numbers,
.navigation-comments .page-numbers {
	display: inline-block;
	vertical-align: middle;
	padding: 0 .4em;
}

.navigation .next,
.navigation .prev,
.navigation-comments .next,
.navigation-comments .prev {
	display: inline-block;
	vertical-align: middle;
	max-width: 50%;
	background: #666;
	color: #fff;
	padding: .4em;
	text-decoration: none;
}

.navigation-single {
	margin-bottom: 1.2em;
}

.navigation-single .next,
.navigation-single .prev {
	float: left;
	vertical-align: middle;
	max-width: 50%;
	background: #666;
	color: #fff;
	text-decoration: none;
}

.navigation-single .next a,
.navigation-single .prev a {
	color: inherit;
	text-decoration: none;
	padding: .4em;
	display: block;
}

.navigation-single .next {
	float: right;
}

.wp-caption {
	max-width: 100%;
	clear: both;
	border: 1px solid #ccc;
	padding: .4em;
	margin-bottom: 1.2em;
}

.wp-caption img {
	margin: 0;
	vertical-align: top;
}

.wp-caption p {
	margin: .4em 0 0;
}

div.aligncenter {
	margin: 0 auto 1.2em;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin: 0 1.2em 4px 0;
}

.alignright {
	float: right;
	margin: 0 0 4px 1.2em;
}

.mejs-container {
	margin-bottom: 1.2em;
}

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
	height: auto;
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

html {
	background-color: #202b5d;
}

body {
	-ms-overlfow-style: scrollbar;
	min-width: 320px;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
	color: inherit;
}

h1,
.h1 {
	line-height: 1;
}

h2,
.h2 {
	line-height: 1.1363636364;
}

h6.h6Small,
.h6.h6Small {
	font-size: 20px;
	line-height: 1.3;
}

/*------------------------------------------------------------------
Page Wrapper / #pageWrapper
-------------------------------------------------------------------*/

#pageWrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

/*------------------------------------------------------------------
Image Fit / .imgFit
-------------------------------------------------------------------*/

.imgFit {
	object-fit: cover;
}

/*------------------------------------------------------------------
Text Mdium (font size) / .textMedium
-------------------------------------------------------------------*/

.textMedium {
	font-size: 20px;
	line-height: 1.5;
}

/*------------------------------------------------------------------
Background (size) Cover / .bgCover
-------------------------------------------------------------------*/

.bgCover {
	background-size: cover;
	background-position: 50% 50%;
}

/*------------------------------------------------------------------
Svg Mask Background / .svgBg
-------------------------------------------------------------------*/

.svgBg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

/*------------------------------------------------------------------
Pointer Events None / .inaccessible
-------------------------------------------------------------------*/

.inaccessible,
.svgBg,
.ibBgPattern,
.featColumn:before,
.factsCounterAside:before {
	pointer-events: none;
}

/*------------------------------------------------------------------
Font Weight Medium / .fwMedium
-------------------------------------------------------------------*/

.fwMedium {
	font-weight: 500;
}

/*------------------------------------------------------------------
Font Weight Semibold / .fwSemi
-------------------------------------------------------------------*/

.fwSemi {
	font-weight: 600;
}

/*------------------------------------------------------------------
Font Family Base / .fontBase
-------------------------------------------------------------------*/

.fontBase {
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*------------------------------------------------------------------
Font Family Cabin / .fontAlter
-------------------------------------------------------------------*/

.fontAlter,
.planColumn[data-pack]:after {
	font-family: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*------------------------------------------------------------------
buttons / .btn
-------------------------------------------------------------------*/

.btn:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.btn:before {
	content: attr(data-hover);
	-webkit-transform: translateY(50%) rotateX(90deg);
	transform: translateY(50%) rotateX(90deg);
	opacity: 0;
	border-width: 1px;
	border-style: solid;
	-webkit-transform-origin: right center 0;
	-ms-transform-origin: right center 0;
	transform-origin: right center 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, opacity .3s ease-in-out;
	transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	padding: 1.125rem .9375rem;
}

.btn:hover:before {
	-webkit-transform: translateY(0px) rotateX(0deg);
	transform: translateY(0px) rotateX(0deg);
	opacity: 1;
}

.btn:hover .btnText {
	opacity: 0;
	-webkit-transform: translateY(-50%) rotateX(90deg);
	transform: translateY(-50%) rotateX(90deg);
}

/*------------------------------------------------------------------
buttons Text / .btnText
-------------------------------------------------------------------*/

.btnText {
	padding: 1.125rem .9375rem;
	border: 1px solid transparent;
	opacity: 1;
	-webkit-transform-origin: right center 0;
	-ms-transform-origin: right center 0;
	transform-origin: right center 0;
	-webkit-transform: translateY(0px) rotateX(0deg);
	transform: translateY(0px) rotateX(0deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, opacity .3s ease-in-out;
	transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

/*------------------------------------------------------------------
button Info / .btn-info
-------------------------------------------------------------------*/

.btn-info {
	color: #202b5d;
	background-color: transparent;
	border-color: transparent;
}

.btn-info:hover {
	background-color: transparent;
	border-color: transparent;
}

.btn-info:before {
	border-color: #67e7ef;
	background-color: #67e7ef;
}

.btn-info .btnText {
	border-color: #67e7ef;
	background-color: #67e7ef;
}

/*------------------------------------------------------------------
button Theme / .btnTheme
-------------------------------------------------------------------*/

.btnTheme:before {
	background-color: #fff;
}

.btnTheme .btnText {
	color: #fff;
}

/*------------------------------------------------------------------
button White / .btnWhite
-------------------------------------------------------------------*/

.btnWhite:before {
	color: #fff;
	background-color: #202b5d;
	border-color: #202b5d;
}

.btnWhite .btnText {
	color: #202b5d;
	background-color: #fff;
	border-color: #fff;
}

/*------------------------------------------------------------------
button Primary / .btn-primary
-------------------------------------------------------------------*/

.btn-primary:before {
	background-color: #fff;
	border-color: #202b5d;
	color: #202b5d;
}

.btn-primary .btnText {
	background-color: #202b5d;
	border-color: #202b5d;
}

/*------------------------------------------------------------------
Anchor default Tranisition / .aTransit
-------------------------------------------------------------------*/

.aTransit,
.mainNavigation .nav-link,
.ftSocialNetworks > li > a,
.ftLinksList a,
#pageFooter p a {
	-webkit-transition: color .3s ease, background-color .3s ease;
	transition: color .3s ease, background-color .3s ease;
}

.btnMin {
	min-width: 174px;
}

.btnMinMedium {
	min-width: 204px;
}

/*------------------------------------------------------------------
Page Main Header / #pageHeader
-------------------------------------------------------------------*/

#pageHeader {
	left: 0;
	top: 0;
	z-index: 999;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
	position: absolute;
}

#pageHeader.fixedPosition .hdHolder {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.hdHolder {
	-webkit-transition: padding .3s ease;
	transition: padding .3s ease;
}

/*------------------------------------------------------------------
Page Main Header Logo / .logo
-------------------------------------------------------------------*/

.logo {
	max-width: 76px;
}

/*------------------------------------------------------------------
Page Main Header Navigation / .mainNavigation
-------------------------------------------------------------------*/

.mainNavigation .nav-link {
	padding-left: 15px;
	padding-right: 15px;
}

/*------------------------------------------------------------------
Page Main Header Button / .hdBtn
-------------------------------------------------------------------*/

.hdBtn {
	min-width: 120px;
	font-size: 16px;
}

.hdBtn .btnText,
.hdBtn:before {
	padding: 9px 10px;
}

/*------------------------------------------------------------------
Page Main Header Navigation Collapse / .pageMainNavCollapse
-------------------------------------------------------------------*/

.pageMainNavCollapse {
	position: absolute;
	left: 0;
	top: 100%;
	right: 0;
	background-color: #202b5d;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .08);
}

/*------------------------------------------------------------------
Page Main Header Navigation Opener / .pageNavOpener
-------------------------------------------------------------------*/

.pageNavOpener {
	-webkit-transition: border-color .3s ease, -webkit-transform .3s ease;
	transition: border-color .3s ease, -webkit-transform .3s ease;
	transition: transform .3s ease, border-color .3s ease;
	transition: transform .3s ease, border-color .3s ease, -webkit-transform .3s ease;
}

.pageNavOpener[aria-expanded="true"] {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	border-left-color: transparent;
}

.pageNavOpener:focus {
	outline: 0;
}

/*------------------------------------------------------------------
Intro Banner Block / .introBlock
-------------------------------------------------------------------*/

.introBlock {
	font-size: 20px;
	line-height: 1.3;
	min-height: calc(100vh - 73px);
}

    .bg-secondary2{
    background-color:#000;
    width:100%;
    height:auto;
    }

    .video-holder {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}



.introBlock .svgBg {
	z-index: 1;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 100% 100% 0;
	-ms-transform-origin: 100% 100% 0;
	transform-origin: 100% 100% 0;
	-webkit-animation-name: appearInit;
	animation-name: appearInit;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}

.introBlock .imageWrap,
.introBlock .captionWrap {
	z-index: 3;
}

/*------------------------------------------------------------------
Intro Banner Pattern Background / .ibBgPattern
-------------------------------------------------------------------*/

.ibBgPattern {
	left: 0;
	top: 0;
	z-index: 2;
	background-position: 50% 0;
	background-attachment: fixed;
	opacity: 0;
	-webkit-animation-name: appearFadeInit;
	animation-name: appearFadeInit;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

/*------------------------------------------------------------------
Sponsors Aside Block / .sponsorsAside
-------------------------------------------------------------------*/

.sponsorsAside {
	z-index: 2;
}

.sponsorsAside .logoWrap {
	opacity: .5;
	-webkit-transition: opacity .15s ease, visibility .3s ease;
	transition: opacity .15s ease, visibility .3s ease;
}

.sponsorsAside .logoWrap:hover {
	opacity: 1;
}

/*------------------------------------------------------------------
Feature Column / .featColumn
-------------------------------------------------------------------*/

.featColumn {
	-webkit-transition: color .5s ease, background-color .5s ease, -webkit-transform .5s ease;
	transition: color .5s ease, background-color .5s ease, -webkit-transform .5s ease;
	transition: transform .5s ease, color .5s ease, background-color .5s ease;
	transition: transform .5s ease, color .5s ease, background-color .5s ease, -webkit-transform .5s ease;
	background-color: #fff;
}

.featColumn:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.featColumn:before {
	opacity: 0;
	border-radius: 999px 0 0 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 100% 100% 0;
	-ms-transform-origin: 100% 100% 0;
	transform-origin: 100% 100% 0;
	-webkit-transition: opacity .5s ease, visibility .5s ease, border-radius .5s ease, -webkit-transform .5s ease;
	transition: opacity .5s ease, visibility .5s ease, border-radius .5s ease, -webkit-transform .5s ease;
	transition: transform .5s ease, opacity .5s ease, visibility .5s ease, border-radius .5s ease;
	transition: transform .5s ease, opacity .5s ease, visibility .5s ease, border-radius .5s ease, -webkit-transform .5s ease;
}

.featColumn:hover {
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
	background-color: transparent;
}

.featColumn:hover:before {
	opacity: .05;
	visibility: visible;
	border-radius: 0;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.featColumn:hover .icnWrap > span {
	-webkit-animation-name: bumperJumper;
	animation-name: bumperJumper;
}

.featColumn .icnWrap {
	width: 70px;
	height: 70px;
}

.featColumn .icnWrap > span {
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-duration: .1s;
	animation-duration: .1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

[data-theme="pink"] {
	background-color: #fbddeb;
}

[data-theme="info"] {
	background-color: #daf9fb;
}

[data-theme="yellow"] {
	background-color: #fff8d3;
}

[data-theme="purple"] {
	background-color: #e7dbfa;
}

/*------------------------------------------------------------------
Counter Column / .countColumn
-------------------------------------------------------------------*/

.countColumn {
	max-width: 185px;
}

.countColumn h3,
.countColumn .h3 {
	font-size: 35px;
}

.countColumn h4,
.countColumn .h4 {
	font-size: 15px;
	line-height: 1.3333333333;
}

/*------------------------------------------------------------------
Facts Counter Column / .factsCounterAside
-------------------------------------------------------------------*/

.factsCounterAside {
	z-index: 1;
}

.factsCounterAside:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 0;
}

.factsCounterAside:before {
	background-color: #f1f1f9;
	z-index: -1;
	margin-top: -66px;
}

.factsCounterAside .bgPattern {
	left: 0;
	top: 0;
	z-index: 1;
}

.factsCounterAside .bgPattern:before {
	content: "";
	position: absolute;
	right: 100%;
	bottom: 100%;
}

.factsCounterAside .bgPattern:after {
	content: "";
	position: absolute;
	right: 100%;
	bottom: 100%;
}

.factsCounterAside .bgPattern:before,
.factsCounterAside .bgPattern:after {
	opacity: .15;
	border-radius: 100%;
	border: 1px solid #e5e5e5;
	margin-right: -265px;
	width: 581px;
	height: 581px;
}

.factsCounterAside .bgPattern:before {
	margin-bottom: -157px;
}

.factsCounterAside .bgPattern:after {
	margin-bottom: -177px;
}

.fcbHolder:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 100%;
}

.fcbHolder:after {
	border-radius: 100%;
	opacity: .15;
	border: 1px solid #e5e5e5;
	margin-left: -88px;
	margin-top: -390px;
	width: 582px;
	height: 582px;
}

/*------------------------------------------------------------------
Feature Items List / .flItemsList
-------------------------------------------------------------------*/

.flItemsList > li {
	overflow: hidden;
	margin-bottom: 15px;
}

.flItemsList .icnWrap {
	float: left;
	min-width: 40px;
}

.flItemsList .descrWrap {
	overflow: hidden;
}

/*------------------------------------------------------------------
All Feature Column / .afColumn
-------------------------------------------------------------------*/

.afColumn:nth-child(even) > .row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.afColumn .titleWrap {
	font-size: 20px;
	line-height: 1.3;
}

.afColumn h2,
.afColumn .h2 {
	line-height: 1.15;
}

.afColumn .imgHolder {
	z-index: 1;
	max-width: 290px;
}

.afColumn .bgPattern {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	background-size: auto 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

/*------------------------------------------------------------------
All Feature Definition List / .afDefList
-------------------------------------------------------------------*/

.afDefList {
	font-size: 18px;
	line-height: 1.4444444444;
}

.afDefList dt {
	float: left;
	margin: 0 15px 0 0;
	font-size: 1.2em;
}

.afDefList dd {
	overflow: hidden;
	margin: 0 0 14px;
}

/*------------------------------------------------------------------
All Feature Tabset List / .afTabsList
-------------------------------------------------------------------*/

.afTabsList .nav-item {
	margin-right: 27px;
}

.afTabsList .nav-link {
	padding: 0 0 3px;
	border-width: 0 0 1px;
	border-color: transparent;
	color: #62718d;
	font-size: 20px;
	line-height: 1.3;
	-webkit-transition: color .3s ease, border-color .3s ease;
	transition: color .3s ease, border-color .3s ease;
}

.tryPetAside {
	font-size: 20px;
	line-height: 1.3;
}

/*------------------------------------------------------------------
Client Testimonial Quote / .clientQuote
-------------------------------------------------------------------*/

.clientQuote {
	font-size: 20px;
	line-height: 1.5;
}

.clientQuote q {
	quotes: none;
	position: relative;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 50% 50% 0;
	-ms-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
	-webkit-transition: opacity .5s ease, visibility .5s ease, -webkit-transform .5s ease;
	transition: opacity .5s ease, visibility .5s ease, -webkit-transform .5s ease;
	transition: opacity .5s ease, visibility .5s ease, transform .5s ease;
	transition: opacity .5s ease, visibility .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.clientQuote q:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
}

.clientQuote q:before {
	content: "\e903";
	font-size: 46px;
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.clientQuote .eWrap {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 50% 50% 0;
	-ms-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
	-webkit-transition: opacity .5s ease, visibility .5s ease, -webkit-transform .5s ease;
	transition: opacity .5s ease, visibility .5s ease, -webkit-transform .5s ease;
	transition: opacity .5s ease, visibility .5s ease, transform .5s ease;
	transition: opacity .5s ease, visibility .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.clientQuote cite {
	font-style: normal;
	font-size: 20px;
	line-height: 1.2;
}

.clientQuote .subtitle {
	font-size: 16px;
	line-height: 1.125;
	color: #62718d;
}

.slick-current.slick-active .clientQuote q,
.slick-current.slick-active .clientQuote .profilePicWrap,
.slick-current.slick-active .clientQuote .eWrap {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.slick-current.slick-active .clientQuote .profilePicWrap {
	-webkit-transform: scale(1) translateX(-50%);
	-ms-transform: scale(1) translateX(-50%);
	transform: scale(1) translateX(-50%);
}

/*------------------------------------------------------------------
Client Testimonial Quote Profile Pic / .profilePicWrap
-------------------------------------------------------------------*/

.profilePicWrap {
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%) scale(0);
	-ms-transform: translateX(-50%) scale(0);
	transform: translateX(-50%) scale(0);
	width: 122px;
	height: 122px;
}

/*------------------------------------------------------------------
Slick Slider Dots List / .dotsList
-------------------------------------------------------------------*/

.dotsList li {
	margin-left: 8px;
	margin-right: 8px;
}

.dotsList li.slick-active button {
	background-color: #202b5d;
}

.dotsList button {
	text-indent: -999px;
	overflow: hidden;
	position: relative;
	border-radius: 100%;
	border: 0;
	padding: 0;
	background-color: #c1c8ee;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
	width: 8px;
	height: 8px;
}

.dotsList button:hover {
	background-color: #202b5d;
}

/*------------------------------------------------------------------
Plan Column / .planColumn
-------------------------------------------------------------------*/

.planColumn {
	-webkit-transition: -webkit-transform .3s ease;
	transition: -webkit-transform .3s ease;
	transition: transform .3s ease;
	transition: transform .3s ease, -webkit-transform .3s ease;
}

.planColumn:hover {
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}

.planColumn[data-pack]:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
}

.planColumn[data-pack]:after {
	color: #bb3beb;
	content: attr(data-pack);
	border-radius: 99px;
	background-color: #f5e2fc;
	font-size: 16px;
	line-height: 1;
	padding: 6px 20px;
	top: 30px;
	right: 30px;
}

.planColumn .textEm {
	font-style: normal;
	font-size: 16px;
	line-height: 1.25;
}

.planColumn .btn .btnText,
.planColumn .btn:before {
	padding-top: 12px;
	padding-bottom: 12px;
}

/*------------------------------------------------------------------
Plan Column Feature List / .tickList
-------------------------------------------------------------------*/

.tickList {
	font-size: 16px;
	line-height: 1.5;
}

.tickList > li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 11px;
}

.tickList > li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
}

.tickList > li:before {
	content: "\e904";
	font-size: 1.4em;
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*------------------------------------------------------------------
FAQ Items List / .faqItem
-------------------------------------------------------------------*/

.faqItem {
	border: 1px solid #e5e5e5;
}

.accOpener {
	cursor: pointer;
	border-bottom: 1px solid transparent;
	-webkit-transition: border-color .3s ease;
	transition: border-color .3s ease;
	font-size: 18px;
	line-height: 1.4444444444;
	padding: 7px 45px 7px 15px;
}

.accOpener:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
}

.accOpener:after {
	border: solid currentColor;
	border-width: 2px 2px 0 0;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	margin-top: -6px;
	right: 25px;
	width: 8px;
	height: 8px;
}

.accOpener[aria-expanded="true"] {
	border-bottom-color: #e5e5e5;
}

.accOpener h3,
.accOpener .h3 {
	font: inherit;
}

/*------------------------------------------------------------------
Get Started Aside Block / .getStartedAside
-------------------------------------------------------------------*/

.getStartedAside {
	min-height: 386px;
}

.getStartedAside h1,
.getStartedAside .h1 {
	line-height: 1.2;
}

.getStartedAside .bgPattern {
	z-index: 1;
	max-width: 70px;
}

.getStartedAside .bgPatterni {
	top: -25%;
	right: 15px;
}

.getStartedAside .bgPatternii {
	bottom: -17%;
	left: 15px;
}

.gsaHolder {
	min-height: inherit;
}

/*------------------------------------------------------------------
Footer Area Block / .ftAreaWrap
-------------------------------------------------------------------*/

.ftAreaWrap {
	font-size: 17px;
	line-height: 1.5294117647;
}

.ftAddress {
	font-size: 16px;
	line-height: 1.5;
}

/*------------------------------------------------------------------
Footer Area Social Networks / .ftSocialNetworks
-------------------------------------------------------------------*/

.ftSocialNetworks > li {
	margin-left: 5px;
	margin-right: 5px;
}

.ftSocialNetworks > li > a {
	overflow: hidden;
	border-radius: 100%;
	background-color: #fff;
	font-size: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #202b5d;
	width: 36px;
	height: 36px;
}

.ftSocialNetworks > li > a:hover {
	color: #fff;
}

.ftSocialNetworks > li > a:hover i {
	-webkit-animation-name: bumperJumper;
	animation-name: bumperJumper;
}

.ftSocialNetworks i {
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-duration: .1s;
	animation-duration: .1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/*------------------------------------------------------------------
Footer Area Links List / .ftLinksList
-------------------------------------------------------------------*/

.ftLinksList li {
	margin-bottom: 9px;
}

.ftLinksList li.active > a {
	color: #fff;
}

.ftLinksList a {
	color: inherit;
}

.ftLinksList a:hover {
	color: #fff;
}

/*------------------------------------------------------------------
Page Main Footer / .pageFooter
-------------------------------------------------------------------*/

#pageFooter p a {
	color: inherit;
}

#pageFooter p a:hover {
	color: #fff;
}

.pfHolder {
	border-top: 1px solid rgba(255, 255, 255, .1);
}

/*------------------------------------------------------------------
Page Main Footer Subscribe Form / .ftScribeForm
-------------------------------------------------------------------*/

.ftScribeForm .btn {
	width: 116px;
	font-size: 16px;
}

.ftScribeForm .btn .btnText,
.ftScribeForm .btn:before {
	padding-left: 5px;
	padding-right: 5px;
}

/*------------------------------------------------------------------
Page Main Footer Logo / .ftLogo
-------------------------------------------------------------------*/

.ftLogo {
	max-width: 134px;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
}

/*------------------------------------------------------------------
Animations
-------------------------------------------------------------------*/

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license
Copyright (c) 2013 Daniel Eden
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

.flash {
	-webkit-animation-name: flash;
	animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
}

.swing {
	-webkit-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

.wobble {
	-webkit-animation-name: wobble;
	animation-name: wobble;
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}

.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight;
}

.bounceInUp {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp;
}

.bounceOut {
	-webkit-animation-name: bounceOut;
	animation-name: bounceOut;
}

.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	animation-name: bounceOutDown;
}

.bounceOutLeft {
	-webkit-animation-name: bounceOutLeft;
	animation-name: bounceOutLeft;
}

.bounceOutRight {
	-webkit-animation-name: bounceOutRight;
	animation-name: bounceOutRight;
}

.bounceOutUp {
	-webkit-animation-name: bounceOutUp;
	animation-name: bounceOutUp;
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

.fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

.fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
}

.fadeOutDownBig {
	-webkit-animation-name: fadeOutDownBig;
	animation-name: fadeOutDownBig;
}

.fadeOutLeft {
	-webkit-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

.fadeOutLeftBig {
	-webkit-animation-name: fadeOutLeftBig;
	animation-name: fadeOutLeftBig;
}

.fadeOutRight {
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
}

.fadeOutRightBig {
	-webkit-animation-name: fadeOutRightBig;
	animation-name: fadeOutRightBig;
}

.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}

.fadeOutUpBig {
	-webkit-animation-name: fadeOutUpBig;
	animation-name: fadeOutUpBig;
}

.animated.flip {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flip;
	animation-name: flip;
}

.flipInX {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX;
}

.flipInY {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	animation-name: flipInY;
}

.flipOutX {
	-webkit-animation-name: flipOutX;
	animation-name: flipOutX;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}

.flipOutY {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipOutY;
	animation-name: flipOutY;
}

.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

.lightSpeedOut {
	-webkit-animation-name: lightSpeedOut;
	animation-name: lightSpeedOut;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

.rotateIn {
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn;
}

.rotateInDownLeft {
	-webkit-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft;
}

.rotateInDownRight {
	-webkit-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight;
}

.rotateInUpLeft {
	-webkit-animation-name: rotateInUpLeft;
	animation-name: rotateInUpLeft;
}

.rotateInUpRight {
	-webkit-animation-name: rotateInUpRight;
	animation-name: rotateInUpRight;
}

.rotateOut {
	-webkit-animation-name: rotateOut;
	animation-name: rotateOut;
}

.rotateOutDownLeft {
	-webkit-animation-name: rotateOutDownLeft;
	animation-name: rotateOutDownLeft;
}

.rotateOutDownRight {
	-webkit-animation-name: rotateOutDownRight;
	animation-name: rotateOutDownRight;
}

.rotateOutUpLeft {
	-webkit-animation-name: rotateOutUpLeft;
	animation-name: rotateOutUpLeft;
}

.rotateOutUpRight {
	-webkit-animation-name: rotateOutUpRight;
	animation-name: rotateOutUpRight;
}

.slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
}

.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
}

.slideOutLeft {
	-webkit-animation-name: slideOutLeft;
	animation-name: slideOutLeft;
}

.slideOutRight {
	-webkit-animation-name: slideOutRight;
	animation-name: slideOutRight;
}

.slideOutUp {
	-webkit-animation-name: slideOutUp;
	animation-name: slideOutUp;
}

.hinge {
	-webkit-animation-name: hinge;
	animation-name: hinge;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

.rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

.rollOut {
	-webkit-animation-name: rollOut;
	animation-name: rollOut;
}

@media (min-width: 768px) {
	.commentlist-item .commentlist-item {
		padding: 0 0 0 2em;
	}
}

@media (max-width: 991.98px) {
	.navigation .page-numbers,
	.navigation-comments .page-numbers {
		padding: 0;
	}

	.navigation .next,
	.navigation .prev,
	.navigation-comments .next,
	.navigation-comments .prev {
		padding: .2em;
	}

	.navigation-single .next a,
	.navigation-single .prev a {
		padding: .2em;
	}
}

@-webkit-keyframes bumperJumper {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	30% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	70% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes bumperJumper {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	30% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	70% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes appearInit {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes appearInit {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes appearFadeInit {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	80%,
	100% {
		opacity: 1;
	}
}

@keyframes appearFadeInit {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	80%,
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@-webkit-keyframes flash {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

@keyframes flash {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@-webkit-keyframes swing {
	20% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	40% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}

	60% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}

	80% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}

	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes swing {
	20% {
		-webkit-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	40% {
		-webkit-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}

	60% {
		-webkit-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		transform: rotate(5deg);
	}

	80% {
		-webkit-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}

	100% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	10%,
	20% {
		-webkit-transform: scale(.9) rotate(-3deg);
		transform: scale(.9) rotate(-3deg);
	}

	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale(1.1) rotate(3deg);
		transform: scale(1.1) rotate(3deg);
	}

	40%,
	60%,
	80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
		transform: scale(1.1) rotate(-3deg);
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
}

@keyframes tada {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	10%,
	20% {
		-webkit-transform: scale(.9) rotate(-3deg);
		-ms-transform: scale(.9) rotate(-3deg);
		transform: scale(.9) rotate(-3deg);
	}

	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale(1.1) rotate(3deg);
		-ms-transform: scale(1.1) rotate(3deg);
		transform: scale(1.1) rotate(3deg);
	}

	40%,
	60%,
	80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
		-ms-transform: scale(1.1) rotate(-3deg);
		transform: scale(1.1) rotate(-3deg);
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
		-ms-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
}

@-webkit-keyframes wobble {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}

	15% {
		-webkit-transform: translateX(-25%) rotate(-5deg);
		transform: translateX(-25%) rotate(-5deg);
	}

	30% {
		-webkit-transform: translateX(20%) rotate(3deg);
		transform: translateX(20%) rotate(3deg);
	}

	45% {
		-webkit-transform: translateX(-15%) rotate(-3deg);
		transform: translateX(-15%) rotate(-3deg);
	}

	60% {
		-webkit-transform: translateX(10%) rotate(2deg);
		transform: translateX(10%) rotate(2deg);
	}

	75% {
		-webkit-transform: translateX(-5%) rotate(-1deg);
		transform: translateX(-5%) rotate(-1deg);
	}

	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@keyframes wobble {
	0% {
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}

	15% {
		-webkit-transform: translateX(-25%) rotate(-5deg);
		-ms-transform: translateX(-25%) rotate(-5deg);
		transform: translateX(-25%) rotate(-5deg);
	}

	30% {
		-webkit-transform: translateX(20%) rotate(3deg);
		-ms-transform: translateX(20%) rotate(3deg);
		transform: translateX(20%) rotate(3deg);
	}

	45% {
		-webkit-transform: translateX(-15%) rotate(-3deg);
		-ms-transform: translateX(-15%) rotate(-3deg);
		transform: translateX(-15%) rotate(-3deg);
	}

	60% {
		-webkit-transform: translateX(10%) rotate(2deg);
		-ms-transform: translateX(10%) rotate(2deg);
		transform: translateX(10%) rotate(2deg);
	}

	75% {
		-webkit-transform: translateX(-5%) rotate(-1deg);
		-ms-transform: translateX(-5%) rotate(-1deg);
		transform: translateX(-5%) rotate(-1deg);
	}

	100% {
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
		-ms-transform: scale(.9);
		transform: scale(.9);
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
		transform: translateY(30px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
		transform: translateX(30px);
	}

	80% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
		-ms-transform: translateX(30px);
		transform: translateX(30px);
	}

	80% {
		-webkit-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
	}

	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
		-ms-transform: translateX(-30px);
		transform: translateX(-30px);
	}

	80% {
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px);
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	80% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	80% {
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
	}

	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes bounceOut {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	25% {
		-webkit-transform: scale(.95);
		transform: scale(.95);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3);
	}
}

@keyframes bounceOut {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	25% {
		-webkit-transform: scale(.95);
		-ms-transform: scale(.95);
		transform: scale(.95);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3);
	}
}

@-webkit-keyframes bounceOutDown {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px);
	}
}

@keyframes bounceOutDown {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px);
	}
}

@-webkit-keyframes bounceOutLeft {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}
}

@keyframes bounceOutLeft {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}
}

@-webkit-keyframes bounceOutRight {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px);
	}
}

@keyframes bounceOutRight {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px);
	}
}

@-webkit-keyframes bounceOutUp {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
}

@keyframes bounceOutUp {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	}
}

@-webkit-keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px);
	}
}

@keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px);
	}
}

@-webkit-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}
}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px);
	}
}

@-webkit-keyframes fadeOutLeftBig {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}
}

@keyframes fadeOutLeftBig {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}
}

@-webkit-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
	}
}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}
}

@-webkit-keyframes fadeOutRightBig {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px);
	}
}

@keyframes fadeOutRightBig {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px);
	}
}

@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
}

@keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
}

@-webkit-keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
}

@keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
}

@-webkit-keyframes flip {
	0% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	40% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	50% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	80% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	100% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}

@keyframes flip {
	0% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		-ms-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	40% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		-ms-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	50% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-ms-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	80% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		-ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	100% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		-ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}

@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		transform: perspective(400px) rotateX(90deg);
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotateX(-10deg);
		transform: perspective(400px) rotateX(-10deg);
	}

	70% {
		-webkit-transform: perspective(400px) rotateX(10deg);
		transform: perspective(400px) rotateX(10deg);
	}

	100% {
		-webkit-transform: perspective(400px) rotateX(0deg);
		transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}
}

@keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		-ms-transform: perspective(400px) rotateX(90deg);
		transform: perspective(400px) rotateX(90deg);
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotateX(-10deg);
		-ms-transform: perspective(400px) rotateX(-10deg);
		transform: perspective(400px) rotateX(-10deg);
	}

	70% {
		-webkit-transform: perspective(400px) rotateX(10deg);
		-ms-transform: perspective(400px) rotateX(10deg);
		transform: perspective(400px) rotateX(10deg);
	}

	100% {
		-webkit-transform: perspective(400px) rotateX(0deg);
		-ms-transform: perspective(400px) rotateX(0deg);
		transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes flipInY {
	0% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotateY(-10deg);
		transform: perspective(400px) rotateY(-10deg);
	}

	70% {
		-webkit-transform: perspective(400px) rotateY(10deg);
		transform: perspective(400px) rotateY(10deg);
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(0deg);
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
	}
}

@keyframes flipInY {
	0% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		-ms-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotateY(-10deg);
		-ms-transform: perspective(400px) rotateY(-10deg);
		transform: perspective(400px) rotateY(-10deg);
	}

	70% {
		-webkit-transform: perspective(400px) rotateY(10deg);
		-ms-transform: perspective(400px) rotateY(10deg);
		transform: perspective(400px) rotateY(10deg);
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(0deg);
		-ms-transform: perspective(400px) rotateY(0deg);
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes flipOutX {
	0% {
		-webkit-transform: perspective(400px) rotateX(0deg);
		transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		transform: perspective(400px) rotateX(90deg);
		opacity: 0;
	}
}

@keyframes flipOutX {
	0% {
		-webkit-transform: perspective(400px) rotateX(0deg);
		-ms-transform: perspective(400px) rotateX(0deg);
		transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		-ms-transform: perspective(400px) rotateX(90deg);
		transform: perspective(400px) rotateX(90deg);
		opacity: 0;
	}
}

@-webkit-keyframes flipOutY {
	0% {
		-webkit-transform: perspective(400px) rotateY(0deg);
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
	}
}

@keyframes flipOutY {
	0% {
		-webkit-transform: perspective(400px) rotateY(0deg);
		-ms-transform: perspective(400px) rotateY(0deg);
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		-ms-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
	}
}

@-webkit-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0;
	}

	60% {
		-webkit-transform: translateX(-20%) skewX(30deg);
		transform: translateX(-20%) skewX(30deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: translateX(0%) skewX(-15deg);
		transform: translateX(0%) skewX(-15deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(0%) skewX(0deg);
		transform: translateX(0%) skewX(0deg);
		opacity: 1;
	}
}

@keyframes lightSpeedIn {
	0% {
		-webkit-transform: translateX(100%) skewX(-30deg);
		-ms-transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0;
	}

	60% {
		-webkit-transform: translateX(-20%) skewX(30deg);
		-ms-transform: translateX(-20%) skewX(30deg);
		transform: translateX(-20%) skewX(30deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: translateX(0%) skewX(-15deg);
		-ms-transform: translateX(0%) skewX(-15deg);
		transform: translateX(0%) skewX(-15deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(0%) skewX(0deg);
		-ms-transform: translateX(0%) skewX(0deg);
		transform: translateX(0%) skewX(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes lightSpeedOut {
	0% {
		-webkit-transform: translateX(0%) skewX(0deg);
		transform: translateX(0%) skewX(0deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0;
	}
}

@keyframes lightSpeedOut {
	0% {
		-webkit-transform: translateX(0%) skewX(0deg);
		-ms-transform: translateX(0%) skewX(0deg);
		transform: translateX(0%) skewX(0deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(100%) skewX(-30deg);
		-ms-transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0;
	}
}

@-webkit-keyframes rotateIn {
	0% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(-200deg);
		transform: rotate(-200deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes rotateIn {
	0% {
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(-200deg);
		-ms-transform: rotate(-200deg);
		transform: rotate(-200deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@-webkit-keyframes rotateInDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes rotateInDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@-webkit-keyframes rotateInDownRight {
	0% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes rotateInDownRight {
	0% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@-webkit-keyframes rotateInUpLeft {
	0% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes rotateInUpLeft {
	0% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@-webkit-keyframes rotateInUpRight {
	0% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes rotateInUpRight {
	0% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@-webkit-keyframes rotateOut {
	0% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(200deg);
		transform: rotate(200deg);
		opacity: 0;
	}
}

@keyframes rotateOut {
	0% {
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(200deg);
		-ms-transform: rotate(200deg);
		transform: rotate(200deg);
		opacity: 0;
	}
}

@-webkit-keyframes rotateOutDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0;
	}
}

@keyframes rotateOutDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0;
	}
}

@-webkit-keyframes rotateOutDownRight {
	0% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0;
	}
}

@keyframes rotateOutDownRight {
	0% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0;
	}
}

@-webkit-keyframes rotateOutUpLeft {
	0% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0;
	}
}

@keyframes rotateOutUpLeft {
	0% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0;
	}
}

@-webkit-keyframes rotateOutUpRight {
	0% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0;
	}
}

@keyframes rotateOutUpRight {
	0% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0;
	}
}

@-webkit-keyframes slideInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes slideInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes slideInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes slideInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes slideInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes slideInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px);
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes slideOutLeft {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}
}

@keyframes slideOutLeft {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}
}

@-webkit-keyframes slideOutRight {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px);
	}
}

@keyframes slideOutRight {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px);
	}
}

@-webkit-keyframes slideOutUp {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
}

@keyframes slideOutUp {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
}

@-webkit-keyframes hinge {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	20%,
	60% {
		-webkit-transform: rotate(80deg);
		transform: rotate(80deg);
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	40% {
		-webkit-transform: rotate(60deg);
		transform: rotate(60deg);
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	80% {
		-webkit-transform: rotate(60deg) translateY(0);
		transform: rotate(60deg) translateY(0);
		opacity: 1;
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	100% {
		-webkit-transform: translateY(700px);
		transform: translateY(700px);
		opacity: 0;
	}
}

@keyframes hinge {
	0% {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	20%,
	60% {
		-webkit-transform: rotate(80deg);
		-ms-transform: rotate(80deg);
		transform: rotate(80deg);
		-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	40% {
		-webkit-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		transform: rotate(60deg);
		-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	80% {
		-webkit-transform: rotate(60deg) translateY(0);
		-ms-transform: rotate(60deg) translateY(0);
		transform: rotate(60deg) translateY(0);
		opacity: 1;
		-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	100% {
		-webkit-transform: translateY(700px);
		-ms-transform: translateY(700px);
		transform: translateY(700px);
		opacity: 0;
	}
}

@-webkit-keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotate(-120deg);
		transform: translateX(-100%) rotate(-120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
}

@keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotate(-120deg);
		-ms-transform: translateX(-100%) rotate(-120deg);
		transform: translateX(-100%) rotate(-120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0px) rotate(0deg);
		-ms-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
}

@-webkit-keyframes rollOut {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(100%) rotate(120deg);
		transform: translateX(100%) rotate(120deg);
	}
}

@keyframes rollOut {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0px) rotate(0deg);
		-ms-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(100%) rotate(120deg);
		-ms-transform: translateX(100%) rotate(120deg);
		transform: translateX(100%) rotate(120deg);
	}
}




.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #1A237E;
  z-index: 99999;
}
.preloader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.preloader__container__percent {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
  color:#fff;
}
.preloader__container__preload {
  display: flex;
}
.preloader__container__preload__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 10px;
}

